<p>
  <strong>Title:</strong>
  <%= @toy.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @toy.text %>
</p>

<h2>Comments:</h2>
<%= render @toy.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_toy_path(@toy) %> |
<%= link_to 'Back to all the toys', toys_path %>